<div class=" login">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="formulario">
        <h2>Efetuar Login</h2>
        <!--<div class="itens_form">
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" [(ngModel)] = "loginModel.nome" type="text">
        </div>-->
        <div  class="itens_form">
            <label for="email">E-mail:</label>
            <input id="email" name="email" [(ngModel)] = "loginModel.email" type="email">
        </div>
        <div class="itens_form"> 
            <label for="senha">Senha:</label>
            <input id="senha" name="senha" [(ngModel)] = "loginModel.password" type="password">
        </div>

        

        <div  class="itens_form">
        <!-- <button type="submit">Salvar</button>-->
            <section>
                <div class="example-button-row">
                    <button type="submit" mat-raised-button color="accent" value="login" id="botao-enviar">Fazer Login</button>
                <!--<input id="botao-enviar"  type="submit" value=" Fazer Login ">-->
                </div>
            </section>
        </div>
        <p id = "mensagem" style="color: #FFF;" *ngIf="mensagem != ''">{{mensagem}}</p>
    </form>
    
</div>